@import "~bootstrap/scss/bootstrap";

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 8%;
  margin-right: 8%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
}

img {
  border-radius: 10px;
  border: solid black 1px;
}
